

.sideIcon{
    position:absolute;
    margin-left:10px; 
    margin-top:7px;  
    padding-right:7px;
    border-right:1px solid grey; 

}

.input{
    display:block;
    line-height: 30px;
    
}

input[type="email"] {
    padding-left:38px;
    outline:0;
    height:2.5rem;
    width:100%;
    font-size:12px;
    border:1px solid rgb(163, 162, 162);
    border-radius: 6px;
}

input[type="text"] {
    padding-left:38px;
    outline:0;
    height:2.5rem;
    width:100%;
    font-size:12px;
    border:1px solid rgb(163, 162, 162);
    border-radius: 6px;
}

input[type="password"] {
    padding-left:38px;
    outline:0;
    height:2.5rem;
    width:100%;
    font-size:12px;
    border:1px solid rgb(163, 162, 162);
    border-radius: 6px;
}








